  
.carousel-main{
    text-align: center;
    background: #111430;
    padding: 20px; 
}

.carousel-inner-style{
    height: 500px;
    width: 500px;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: -50px;
    background-color: none;
}